[data-rsbs-root] {
    position: relative;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
}
[data-rsbs-overlay] {
    left: 50% !important;
    width: 100% !important;
    transform: translate3d(-50%, 0, 0) !important;
}
[data-rsbs-header] {
    padding-top: 12px !important;
    box-shadow: none !important;
    padding-left: 2.4rem !important;
    padding-right: 2.4rem !important;
    &:before {
        top: 8px !important;
    }
}

[data-rsbs-scroll] {
    &::-webkit-scrollbar {
        width: 4px;
        overflow: overlay;
    }
    &::-webkit-scrollbar-thumb {
        background-color: hsla(0, 0%, 42%, 0.49);
        border-radius: 9999px;
    }
}
.full-btn {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: calc(9.3rem);
    bottom: calc(9.3rem + env(safe-area-inset-bottom));
    bottom: calc(9.3rem + constant(safe-area-inset-bottom));
    z-index: 11;
    background: #000;
    width: 8rem;
    height: 3rem;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 3rem;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px 8px 0 0;
    transition: opacity 0.2s;

    &.hide {
        opacity: 0;
    }
}
.bottom-sheet {
    z-index: 11;
    .sheet-content {
        padding: 0 2.4rem;
        @include paddingBottomWithDock;
    }

    .sheet-header {
        padding-top: 1.6rem;
        margin-bottom: 1.5rem;
        display: flex;
        justify-content: space-between;
    }
}
